<div id="incidents-near-and-list">
  <div id="incidents-near">
    <% if !@incidents.empty? %>
      <h4 class="incidents-near-text">Incidents near <%= @address %></h4>
    <% else %>
      <h4 id="no-incidents">No incidents nearby!</h4>
    <% end %>
  </div>

  <div id="incident-list">
    <ul>
      <% @incidents.each do |incident| %>
        <div class="incident">
          <li><a href="/incident/<%= incident.id %>"><%= incident.address %></a></li>
          <%= incident.description %>
          <div class="lat-lng" data-lat=<%= incident.latitude %> data-lng=<%= incident.longitude%>>
          </div>
        </div>
        <br>
      <% end %>
    </ul>
  </div>