<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<h1 class="copcheck-logo"><a href="/">Cop Check</a></h1>

<div id="incident-list">
  <h4 class="incidents-near">Incidents Near <%= @address %></h4>
  <% @incidents.each do |incident| %>
    <div class="incident">
      <%= incident.address %><br>
      <%= incident.description %>
      <div class="lat-lng" data-lat=<%= incident.latitude %> data-lng=<%= incident.longitude%>>
      </div>
    </div>
    <br>
  <% end %>
</div>
    
<div id="map"></div>

<script>
  function initMap() {
    var center = {lat: <%= @lat %>, lng: <%= @lng %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center
    });
    
    var points = document.querySelectorAll('.lat-lng')

    points.forEach((point) => {
      var $lat = parseFloat(point.dataset.lat);
      var $lng = parseFloat(point.dataset.lng);

      var marker = new google.maps.Marker({
      position: {lat: $lat, lng: $lng},
      map: map
      });
    });
  }
</script>
        
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS']%>&callback=initMap">
</script>
</body>
</html>