<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<div id="incident-list">
  <h4 class="incidents-near">Incidents Near <%= @address %></h4>
  <% @incidents.each do |incident| %>
    <div class="incident">
      <a href="/incident/<%= incident.id %>"><%= incident.address %></a>
      <br>
      <%= incident.description %>
      <div class="lat-lng" data-lat=<%= incident.latitude %> data-lng=<%= incident.longitude%>>
      </div>
    </div>
    <br>
  <% end %>
</div>

<!-- <script>
    (function($){
        $(window).on("load",function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script> -->

<div class="search-bar-and-map">
  <div class="search-bar-div">
    <form action="/search" method="get" class="search-bar">
      <input type="text" name="address" id="search" placeholder="search for police activity in your area">
      <button id="search-button" type="submit">Search</button>
    </form>
  </div>
    
  <div id="map"></div>
</div>

<script>
  function initMap() {
    var center = {lat: <%= @lat %>, lng: <%= @lng %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center
    });
    
    var points = document.querySelectorAll('.lat-lng')

    points.forEach((point) => {
      var $lat = parseFloat(point.dataset.lat);
      var $lng = parseFloat(point.dataset.lng);

      var marker = new google.maps.Marker({
      position: {lat: $lat, lng: $lng},
      map: map
      });
    });
  }
</script>
        
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS']%>&callback=initMap">
</script>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 -->
<script src="./assets/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
  function activatePlacesSearch(){
    var input = document.getElementById('search');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES'] %>&libraries=places&callback=activatePlacesSearch"></script>

</body>
</html>